<div class='page-header text-center'>
  <h1> About Me</h1>
</div>


  <h2><strong>Entreprenuer, startup advisor, small-fry investor & wanna-be Rubyist.</strong></h2>
<br>
  <p>I’m currently starting a marketplace for elective medical procedures called <a href="http://www.medycation.com/">Medycation</a> and advise a handful of other early-stage technology companies.  
    <br>
    <br>
     I was previously the founder and CEO of Prescreen, a video analytics and distribution site. Unfortunately, we learned the value of timing...the hard way. 
     <br>
     <br>
     Bofore moving to San Francisco and starting Prescreen, I was part of the founding team of <a href="http://www.groupon.com/">Groupon</a>, where I was the original VP of Business Development and helped transform ThePoint.com into the collective-buying platform that became Groupon. <a href="http://www.crowdspring.com/small-website/project/240771_groupon-group-coupon/details/">Check out this beauty</a>.
      <br>
      <br>
     And before all of that, I had started a P2P student loan plaform and social network in 2007 (before P2P lending was cool), called CapAlly, that sold for a putrid sum.
    <br>
    <br>
      I have a life outside of work, but that's not what this blog is all about :)
  </p2>
</div>
