<h1>Portfolio</h1>

<h2>Companies</h2>

  <h3>Medycation</h3>
  <!-- <%= image_tag "name.jpeg" %> -->
  <p>A marketplace for elective medical procedures.</p>

  <h3>Prescreen</h3>
  <p>A video analytics and distribution platform for content providers.</p>

  <h3>Groupon</h3>
  <p>Offers daily deals at restaurants, retailers and service providers.</p>

  <h3>CapAlly</h3>
  <p>A P2P student loan marketplace that links students to financial support and professional guidance.</p>

<h2>My Investments</h2>

  <h3>Catheter Connections</h3>
  <p>Develops and commercializes vascular access products to protect patients from acquiring infections during intravenous infusion therapy.</p>

  <h3>Creative Market</h3>
    <p>A new kind of marketplace for handcrafted, mousemade design content like fonts, icons, photos, templates & more.</p>

  <h3>EasyPost</h3>
    <p>Allows developers to integrate USPS, UPS, DHL and FedEx shipping APIs into any application in minutes.</p>

  <h3>ReTargeter</h3>
  <p>A full-service display advertising company specializing in audience targeting and retargeting for brands of all sizes.</p>

  <h3>Rockbot</h3>
  <p>A social music platform for businesses that offers an interactive virtual jukebox.</p>

<h2>The companies I advise</h2>

  <h3>Active Replay</h3>
  <p>A provider of Web & mobile-enabled products and services to the energy sector.</p>

  <h3>American Efficient</h3>
  <p>A provider of Web & mobile-enabled products and services to the energy sector.</p>

  <h3>Ringadoc</h3>
  <p>Ringadoc is transforming the way doctors communicate virtually with patients.</p>