@import "bootstrap_and_overrides";
@import "sitewide";
@import "static_pages";

body {
  background: url("bgimage.jpg") no-repeat center center;
  background-size: 100%;
  background-assets: fixed;
}

.footer {
  margin: 20px;
  text-align: center;
}

