// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table {
  border-collapse: collapse;
  vertical-align: baseline;
  display: table;
  font-size: 16px;
  line-height: 1.125em;
}

tbody {
  vertical-align: baseline;
  background: transparent;
  display: table-row-group;
  border-collapse: collapse;
  border-spacing: 2px;
  border-color: gray;
  font-size: 16px;
  line-height: 1.125em;
}

tr {
  vertical-align: baseline;
  background: transparent;
  display: table-row;
  border-collapse: collapse;
  border-spacing: 2px;
  border-color: gray; 
  font-size: 16px;
  line-height: 1.125em;
}

td {
  width: 164px;
  padding: 1em 16px 1em 0;
  font-size: 0.75em;
  vertical-align: bottom;
  text-align: left;
  font-weight: normal;
  display: table-cell;
}