<nav>
  <ul>
    <!-- <li><a href='/home'>Home</a></li> -->
    <li><%= link_to 'Home', root_path %></li>
    <li><%= link_to 'Blog', posts_path %></li>
    <li><%= link_to 'Gallery', gallery_path %></li>
    <li><%= link_to 'About Me', about_me_path %></li>
    <!-- <li><a href='/posts'>More_Blog_Posts</a></li> -->
    <!-- <li><a href='http://linkd.in/1mQMHKK'>Shawn's LinkedIn</a></li> -->
    <!-- <li><a href='https://angel.co/sbercuson'>Angel_List Profile</a></li> -->
    <!-- <li><a href='https://twitter.com/sbercuson'>Shawn's_Twitter</a></li> -->
  </ul>
</nav>